<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
   <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">

    <title>Profile</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/font-awesome.min.css" rel="stylesheet">
      <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <link href="assets/magicsuggest/magicsuggest-min.css" rel="stylesheet">
<script src="assets/magicsuggest/magicsuggest-min.js"></script>
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>

</head>
<body>
<% include navbar %>
	    <script>
  $(function() {

      var Tags=['5 Avenue Rd Accessible Bicycle Rack',
  '6 Bay Accessible Bicycle Rack',
  '7 Bathurst Accessible Bicycle Rack',
  '8 Broadview Accessible Bicycle Rack',
  '9 Bellamy Accessible Bicycle Rack',
  '10 Van Horne Accessible Bicycle Rack',
  '11 Bayview Accessible Bicycle Rack',
  '12 Kingston Rd Accessible Bicycle Rack',
  '14 Glencairn Accessible Bicycle Rack',
  '15 Evans Accessible Bicycle Rack',
  '16 McCowan Accessible Bicycle Rack',
  '17 Birchmount Accessible Bicycle Rack',
  '20 Cliffside Accessible Bicycle Rack',
  '21 Brimley Accessible Bicycle Rack',
  '22 Coxwell Accessible Bicycle Rack',
  '23 Dawes Accessible Bicycle Rack',
  '24 Victoria Park Accessible Bicycle Rack',
  '25 Don Mills Accessible Bicycle Rack',
  '26 Dupont Accessible Bicycle Rack',
  '28 Davisville Accessible Bicycle Rack',
  '29 Dufferin Accessible Bicycle Rack',
  '30 Lambton Accessible Bicycle Rack',
  '31 Greenwood Accessible Bicycle Rack',
  '32 Eglinton West Accessible Bicycle Rack',
  '33 Forest Hill Accessible Bicycle Rack',
  '34 Eglinton East Accessible Bicycle Rack',
  '35 Jane Accessible Bicycle Rack',
  '36 Finch West Accessible Bicycle Rack',
  '37 Islington Accessible Bicycle Rack',
  '38 Highland Creek Accessible Bicycle Rack',
  '39 Finch East Accessible Bicycle Rack',
  '40 Junction Accessible Bicycle Rack',
  '41 Keele Accessible Bicycle Rack',
  '42 Cummer Accessible Bicycle Rack',
  '43 Kennedy Accessible Bicycle Rack',
  '44 Kipling South Accessible Bicycle Rack',
  '45 Kipling Accessible Bicycle Rack',
  '46 Martin Grove Accessible Bicycle Rack',
  '47 Lansdowne Accessible Bicycle Rack',
  '48 Rathburn Accessible Bicycle Rack',
  '49 Bloor West Accessible Bicycle Rack',
  '50 Burnhamthorpe Accessible Bicycle Rack',
  '51 Leslie Accessible Bicycle Rack',
  '52 Lawrence West Accessible Bicycle Rack',
  '53 Steeles East Accessible Bicycle Rack',
  '54 Lawrence East Accessible Bicycle Rack',
  '55 Warren Park Accessible Bicycle Rack',
  '56 Leaside Accessible Bicycle Rack',
  '57 Midland Accessible Bicycle Rack',
  '58 Malton Accessible Bicycle Rack',
  '59 Maple Leaf Accessible Bicycle Rack',
  '60 Steeles West Accessible Bicycle Rack',
  '61 Avenue Rd North Accessible Bicycle Rack',
  '62 Mortimer Accessible Bicycle Rack',
  '63 Ossington Accessible Bicycle Rack',
  '64 Main Accessible Bicycle Rack',
  '65 Parliament Accessible Bicycle Rack',
  '66 Prince Edward Accessible Bicycle Rack',
  '67 Pharmacy Accessible Bicycle Rack',
  '68 Warden Accessible Bicycle Rack',
  '69 Warden South Accessible Bicycle Rack',
  '70 O\'Connor Accessible Bicycle Rack',
  '71 Runnymede Accessible Bicycle Rack',
  '72 Pape Accessible Bicycle Rack',
  '73 Royal York Accessible Bicycle Rack',
  '74 Mt Pleasant Accessible Bicycle Rack',
  '75 Sherbourne Accessible Bicycle Rack',
  '76 Royal York South Accessible Bicycle Rack',
  '77 Swansea Accessible Bicycle Rack',
  '78 St Andrews Accessible Bicycle Rack',
  '79 Scarlett Rd Accessible Bicycle Rack',
  '80 Queensway Accessible Bicycle Rack',
  '81 Thorncliffe Park Accessible Bicycle Rack',
  '82 Rosedale Accessible Bicycle Rack',
  '83 Jones Accessible Bicycle Rack',
  '84 Sheppard West Accessible Bicycle Rack',
  '85 Sheppard East Accessible Bicycle Rack',
  '86 Scarborough Accessible Bicycle Rack',
  '87 Cosburn Accessible Bicycle Rack',
  '88 South Leaside Accessible Bicycle Rack',
  '89 Weston Accessible Bicycle Rack',
  '90 Vaughan Accessible Bicycle Rack',
  '91 Woodbine Accessible Bicycle Rack',
  '92 Woodbine South Accessible Bicycle Rack',
  '94 Wellesley Accessible Bicycle Rack',
  '95 York Mills Accessible Bicycle Rack',
  '96 Wilson Accessible Bicycle Rack',
  '97 Yonge Accessible Bicycle Rack',
  '98 Willowdale - Senlac Accessible Bicycle Rack',
  '99 Arrow Rd Accessible Bicycle Rack',
  '100 Flemingdon Park Accessible Bicycle Rack',
  '101 Downsview Park Accessible Bicycle Rack',
  '102 Markham Rd Accessible Bicycle Rack',
  '103 Mt Pleasant North Accessible Bicycle Rack',
  '104 Faywood Accessible Bicycle Rack',
  '105 Dufferin North Accessible Bicycle Rack',
  '106 York University Accessible Bicycle Rack',
  '107 Keele North Accessible Bicycle Rack',
  '108 Downsview Accessible Bicycle Rack',
  '109 Ranee Accessible Bicycle Rack',
  '110 Islington South Accessible Bicycle Rack',
  '111 East Mall Accessible Bicycle Rack',
  '112 West Mall Accessible Bicycle Rack',
  '113 Danforth Accessible Bicycle Rack',
  '115 Silver Hills Accessible Bicycle Rack',
  '116 Morningside Accessible Bicycle Rack',
  '117 Alness Accessible Bicycle Rack',
  '120 Calvington Accessible Bicycle Rack',
  '122 Graydon Hall Accessible Bicycle Rack',
  '123 Shorncliffe Accessible Bicycle Rack',
  '124 Sunnybrook Accessible Bicycle Rack',
  '125 Drewry Accessible Bicycle Rack',
  '126 Christie Accessible Bicycle Rack',
  '127 Davenport Accessible Bicycle Rack',
  '129 McCowan North Accessible Bicycle Rack',
  '130 Middlefield Accessible Bicycle Rack',
  '131 Nugget Accessible Bicycle Rack',
  '132 Milner Accessible Bicycle Rack',
  '133 Neilson Accessible Bicycle Rack',
  '134 Progress Accessible Bicycle Rack',
  '135 Gerrard Accessible Bicycle Rack',
  '139 Finch-Don Mills Accessible Bicycle Rack',
  '160 Bathurst North Accessible Bicycle Rack',
  '161 Rogers Rd Accessible Bicycle Rack',
  '162 Lawrence - Donway Accessible Bicycle Rack',
  '165 Weston Rd North Accessible Bicycle Rack',
  '167 Pharmacy North Accessible Bicycle Rack',
  '168 Symington Accessible Bicycle Rack',
  '169 Huntingwood Accessible Bicycle Rack',
  '171 Mt Dennis Accessible Bicycle Rack',
  '172 Cherry Street Accessible Bicycle Rack',
  '190 Scarborough Centre Rocket Accessible Bicycle Rack',
  '191 Highway 27 Rocket Accessible Bicycle Rack',
  '192 Airport Rocket Accessible Bicycle Rack',
  '193 Exhibition Rocket Accessible Bicycle Rack',
  '195 Jane Rocket Accessible Bicycle Rack',
  '196 York University Rocket Accessible Bicycle Rack',
  '199 Finch Rocket Accessible Bicycle Rack',
  '224 Victoria Park North Accessible Bicycle Rack',
  '300 Bloor - Danforth Accessible Bicycle Rack',
  '301 Queen',
  '302 Danforth Rd - McCowan Accessible Bicycle Rack',
  '303 Don Mills Accessible Bicycle Rack',
  '305 Eglinton East Accessible Bicycle Rack',
  '306 Carlton',
  '307 Eglinton West Accessible Bicycle Rack',
  '308 Finch East Accessible Bicycle Rack',
  '309 Finch West Accessible Bicycle Rack',
  '310 Bathurst Accessible Bicycle Rack',
  '311 Islington Accessible Bicycle Rack',
  '312 St Clair Accessible Bicycle Rack',
  '313 Jane Accessible Bicycle Rack',
  '316 Ossington Accessible Bicycle Rack',
  '319 Wilson Accessible Bicycle Rack',
  '320 Yonge Accessible Bicycle Rack',
  '321 York Mills Accessible Bicycle Rack',
  '322 Coxwell Accessible Bicycle Rack',
  '324 Victoria Park Accessible Bicycle Rack',
  '329 Dufferin Accessible Bicycle Rack',
  '352 Lawrence West Accessible Bicycle Rack',
  '353 Steeles East Accessible Bicycle Rack',
  '354 Lawrence East Accessible Bicycle Rack',
  '385 Sheppard East Accessible Bicycle Rack',
  '400 Lawrence Manor Accessible',
  '402 Parkdale Accessible',
  '403 South Don Mills Accessible',
  '404 East York Accessible',
  '405 Etobicoke Accessible',
  '407 Toronto Rehab Cardiac Centre Accessible'];
      $( "#tags" ).autocomplete({
        source: Tags
    });
  });
  </script>
<div class="container">


	<div class="page-header text-center">
		<h1>Add Bus Routes</h1>
	</div>

	<div class="row">

		<!-- LOCAL INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<% if(user.userBuses.length != 0){ %>
					<h3></span>Your current bus routes</h3>
					<ul style="padding-left: 20px"> 
						<% for(var i=0; i<user.userBuses.length; i++){ %>
							<li><%= user.userBuses[i] %></li> 
						<% } %>
					</ul>
				<%}else{%>
					<h3>You don't have any bus routes added yet. You should add some immediately.</h3>
				<%}%>
			</div>

      <% if(user.userBuses.length != 0){ %>
      <div class="well">
      <h3>Remove bus routes</h3>
      <form action="/removeBuses" method="post">
        <div class="form-group">
        <div class="radio">
        <% user.userBuses.forEach(function(entry){ %>
          <input type="radio" name="bus" value="<%= entry %>"><%= entry %><br>
          <% }); %>
        </div>
        <button type="submit" class="btn btn-primary">Remove</button> 
      </div>
      </form>

       
      </div>
       <%}%>
		</div>


		<div class="col-sm-6">
			<form action="/submitBuses" method="post">
			<h3>Want to add some more bus routes?</h3>
      <select>
				<% BusArray.results.collection1.forEach(function(entry){ %>
					<option value="<%= entry.RouteName.text %>"><%= entry.RouteName.text %></option>
					<% }); %>
        </select>

  					<button type="submit" class="btn btn-primary">Submit</button>
  				</form>
			</div>
			</form>
		</div>

	</div>

</div>
</body>
</html>
