<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
   <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">

    <title>Profile</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/font-awesome.min.css" rel="stylesheet">
      <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>

</head>
<body>
<% include navbar %>
<div class="container col-md-8 col-md-offset-2">

    <div class="panel panel-default ">
      <div class="panel-heading text-center panel-title"><h1><%= user.fullname %></h1></div>
      <div class="panel-body">

        <div>
          <b>Email: </b><%= user.email%>
          <br>
          <b>Phone: </b><%= user.phone%>
          <br>   
          <b>Alerts:</b>
          <% if(user.alerts.length != 0){ %>
          	<ul style="padding-left: 20px">
            	<% user.alerts.forEach(function(alert){ %>
            	<li><%= alert %></li>
            	<%  });%>
          	</ul>
          <% }else{ %>
          	You haven't made any alerts yet<br>
          <% } %>
          <b>Bus Routes: </b>
          <% if(user.userBuses.length != 0){ %>
					<ul style="padding-left: 20px"> 
						<% for(var i=0; i<user.userBuses.length; i++){ %>
							<li><%= user.userBuses[i] %></li> 
						<% } %>
					</ul>
				<%}else{%>
					You don't have any bus routes added yet. You should add some immediately.<br>
				<%}%>
          </ul>
        </div>
        
      </div>
    </div>
    <h3>Want to change your password?</h3>
    <form action="/newpassword" method="post">
      <input type="password" name="newpassword">
      <button type="submit" class="btn btn-primary">Change Password</button>
    </form>

</div>
</body>
</html>
